/*
 * Style tweaks
 * --------------------------------------------------
 */
html,
body {
  height: 100%;
  overflow-x: hidden; /* Prevent scroll on narrow devices */
}
body {
  height: 100%;
  padding-top: 70px;
  padding-bottom: 30px;
}

/*
 * Off Canvas
 * --------------------------------------------------
 */
@media screen and (max-width: 767px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all .25s ease-out;
         -o-transition: all .25s ease-out;
            transition: all .25s ease-out;
  }

  .row-offcanvas-right {
    right: 0;
  }

  .row-offcanvas-left {
    left: 0;
  }

  .row-offcanvas-right
  .sidebar-offcanvas {
    right: -50%; /* 6 columns */
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -50%; /* 6 columns */
  }

  .row-offcanvas-right.active {
    right: 50%; /* 6 columns */
  }

  .row-offcanvas-left.active {
    left: 50%; /* 6 columns */
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 50%; /* 6 columns */
  }
}

li.list-group-item:hover,
li.list-group-item:focus {
  text-decoration: none;
  color: #555555;
  background-color: #f5f5f5;
}
h4.list-group-item-heading:hover,
h4.list-group-item-heading:focus {
  color: #555555;
}
h4.list-group-item-heading {
  font-weight:bold;
  cursor: pointer;
  color: #337ab7;
}
.list-group-item-text {
  margin:0px -15px;
  text-indent:5px;
}
.list-group-item-text > a {
  text-decoration: none;
  display:block;
  padding:5px 10px;
}
.list-group-item-text > a:hover,
.list-group-item-text > a:focus{
  z-index: 2;
  background-color: #eee;
}
.list-group-item-text > a.active,
.list-group-item-text > a.active:hover,
.list-group-item-text > a.active:focus {
  z-index: 2;
  color: #ffffff;
  background-color: #337ab7;
}

.navbar-brand > img:hover,
.navbar-brand > img:focus {
  opacity:0.5;
}

.panel > .panel-heading {
  font-weight: bold;
}

table th {
  text-align:center;
  background-color: #f5f5f5;
}

table[class*="table-bordered"] tbody > tr:first-child > th,
table[class*="table-bordered"] tbody > tr:first-child > td {
  border-top:0px;
}

.page-header > small {
  margin-left: 15px;
}

.panel .divider {
  height: 1px;
  margin: 0;
  overflow: hidden;
  background-color: #e5e5e5;
}

@media (max-width: 767px) {
  .branch-name {
    display: inline-block;
    max-width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

@media print {
  .print-on {
    display: block !important;
  }
}

/*alphaLayer*/
.alphaLayer { 
	z-index:99999; background:#fff;position:fixed;top:0;left:0;width:100%;min-height:100%;filter:alpha(opacity=50); opacity:0.5; -moz-opacity:0.5;
}
.load {
	z-index:99999; background:url(/images/common/load.gif) center no-repeat fixed; position:fixed;top:0;left:0; width:100%;min-height:100%;
}